[submodule "modules/glm"]
	path = modules/glm
	url = https://github.com/g-truc/glm.git
[submodule "modules/ImGui"]
	path = modules/ImGui
	url = https://github.com/Donione/imgui.git
[submodule "modules/pugixml"]
	path = modules/pugixml
	url = https://github.com/zeux/pugixml.git
